{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block header %}
<main>
   Освоение Сибири и Дальнего Востока.
</main>
{% endblock header %}

{% block content %}
<form action="" method="GET" >
    <input name="text" type="text" value={{word}}>
    <button type="submit">Поиск</button>
</form >
<div class='container'>
    {%  for n in data%}
        <div class="card">
            <a href="{{n.ID_Object}}">
                <img src= {{n.Image_Url}} style="width: 300px; height: 300px;">
                <p>{{ n.Name_Obj }}</p>
            </a>
            {{n.Region}}
            <form action="/delete" method="POST" class = 'del'>
            {% csrf_token %}
            <button class= 'but' type='submit' name= 'delete' value = {{n.ID_Object}}>Удалить</button>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock content %}
