* {
    display: flex;
    background: #CFDDCF;
    flex-direction: column;
    font-family: Georgia, serif;
    width: 100%;
    
}
main{
    width: 100%;
    text-align: center;
    
}
footer{
    margin-top: 10%;
    text-align: center;
}
.container{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.card{
    display: flex;
    width: 300px;
    height: 400px;
    margin-top: 10px;
    margin-left: 20px;
    border-style: solid;
    border-radius: 0  0 30px 30px;
    border-color: #3f5433;
    background-color: #b1c7b1;
    text-align: center;
    color: #3f5433;
    
}
.card p{
    background-color: #b1c7b1;
    margin: 0;
    font-size: 20px;
    padding-top: 30px;    
}
.about{
    flex-direction: row;
}
.head-about{
    margin-top: 20px;
    
    text-align: center;
}
.about p {
    font-size: 25px;
    margin-left: 20px;
}
form{
    width: 100px;
    
}